<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="box">
        <input type="text" @input="handleInput()" v-model="mytext">
        <ul>
            <li v-for="data in datalist">{{data}}</li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: "#box",
            data:{
                mytext: '',
                datalist: ["sa", "bf", "cf", "ds", "ea"],
                list: ["sa", "bf", "cf", "ds", "ea"]
            },
            methods:{
                handleInput() {
                    //input方法是值改变调用，change是失去焦点后检查值是否变化
                    //可通过计算属性方式来改善这种算法
                    var newList = this.list.filter(item=>item.indexOf(this.mytext)> -1);
                    this.datalist = newList;
                    console.log(newList);
                }
            }
        });
    </script>
</body>
</html>